<h1>Order#received</h1>

<p style="color:red">
  <%= @greeting %>, find me in app/views/order_mailer/received.html.erb

  <%= email_image_tag '1.jpeg', height:'20em', width:'20em' %>
  <%= output %>
</p>
