// Place all the styles related to the Store controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  .content {

       .store {
          margin-left: 2em;
            ul.catalog {

            border-top: solid .100em;
            list-style: none;
            padding: 0;
            margin: 0;





        li {

          padding: 1em;
          margin: 0em;
          border-bottom: solid thin #ddd;
          min-width:200%;

          img {
            float:left;
            padding: 1em;
            margin-right: 1em;
            margin-bottom: 1em;
            height: 10em;
          }

  &::after{
    clear:both;
    content: " ";
    display:block;
  }
   .price{
     color:red;
   }
          form{
            display:inline;
          }
          input[type = "submit"]{

            background-color: #282;
            border-radius: 0.354em;
            border:solid thin #141;
            font-size: 1em;
            color: white;
            padding: 0.354em 1em;
          }

          input[type = "submit"]:hover{
            background-color: #141;
          }




        }

      }
    }
  }
}
